.best-seller-card {
  flex-direction: row;
}
.best-seller-card img {
  width: 50%;
}

.card-title {
  font-size: calc(1.375rem + 1vw);
}

.card-subtitle {
  font-size: calc(1.325rem + 0.5vw);
}

.card-text {
  font-size: 1.25rem;
}

@media screen and (max-width: 960px) {
  .best-seller-card {
    flex-direction: column;
  }

  .best-seller-card img {
    width: 100%;
  }

  .card-title {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .card-subtitle {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .card-text {
    font-size: 0.9rem;
  }
}
