video {
  object-fit: cover;
  width: 100%;
  height: 160%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  /* background: url('./public/images/img-20.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba((0, 0, 0, 0.2));
  object-fit: contain;
}

.hero-container > h1 {
  color: #b11919;
  /* color: #fff; */
  font-size: 100px;
  margin-top: -100px;
  display: flex;
  justify-self: start;
  align-items: center;
  font-weight: bold;
}

.hero-container > p {
  color: #292525;
  margin-top: 8px;
  margin-bottom: -15px;
  font-size: 48px;
  font-weight: bold;
  font-family: "Tangerine", serif;
}

.hero-container > .second--line {
  color: #292525;
  margin-top: 8px;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn_s {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

.fa-bowl-rice-haru {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 5rem;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
  .fa-bowl-rice-haru {
    margin-left: 0.5rem;
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }
  .fa-bowl-rice-haru {
    margin-left: 0.5rem;
    font-size: 3rem;
  }
}

.hero-container > p {
  font-size: 48px;
}

.btn-mobile_s {
  display: block;
  text-decoration: none;
}

.btn_s {
  width: 100%;
}
